@charset "UTF-8";


.btn:hover {
	background: #668ad8;
}

.red {
	color: red;
}

.backOrange {
	background-color: orange;
}

.center {
	text-align: center;
}

.orange {
	text-align: center;
	color: orange;
}
.sign-in {
	width: 150%;
	max-width: 500px;
	padding: 10px;
	margin: 100px auto;
}

.sign {
	width: 100%;
	max-width: 400px;
	padding: 5px;
	margin: 50px auto;
}

